name: Build

on:
  push:
    branches: main
  pull_request:
    branches: "*"
  # pull_request:
  #   branches: "none-never"


jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
       matrix:
        os: [depot-ubuntu-latest, depot-windows-2025]
        python-version: ["3.11"]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          prune-cache: false
      - name: Install the project
        run: uv sync --locked --all-extras --dev
      - uses: actions/setup-node@v4
      - uses: pnpm/action-setup@v4
        with:
          node-version: "20.x"
          cache: pnpm
          package_json_file: packages/package.json
      - uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: pandoc graphviz

      - name: Install dependencies
        run: |
          pnpm install -g codecov
          pnpm -C packages/buckaroo-js-core install

      - name: Check docs can be build + links
        if: ${{ matrix.os == 'ubuntu-latest' }}
#        working-directory: docs
        run: |
          mkdir -p buckaroo/static || true
          touch buckaroo/static/compiled.css
          touch buckaroo/static/widget.js
          touch buckaroo/static/widget.css
          echo "about to ls"
          ls -alhstr
          mkdir -p docs/build/html
          uv run pytest --check-links docs/source/*.rst
          uv run pytest --check-links docs/example-notebooks/*.ipynb
          uv run sphinx-build -T -b html docs/source  docs/build

      - name: Test the JS extension
        run: |
          ./scripts/full_build.sh
          cd packages/buckaroo-js-core
          pnpm install && pnpm run build
          pnpm run test
        env:
          UV_PYTHON: ${{ matrix.python-version }}



      - name: Linting
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          # pnpm -C packages/buckaroo-js-core run lint
          pip install ruff
          ruff check . 

      - name: Package
        run: |
          ./scripts/full_build.sh

      - name: Upload builds
        uses: actions/upload-artifact@v4
        with:
          name: buckaroo-dist-${{ github.run_number }}
          path: |
            ./dist
            ./js/*.tgz
