name: Build and Deploy

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
        with:
          version: 9.10.0
      - uses: actions/setup-node@v6
        with:
          cache: 'pnpm'
          cache-dependency-path: 'packages/pnpm-lock.yaml'
      - name: Install pnpm dependencies
        working-directory: packages
        run: pnpm install --frozen-lockfile
      - uses: astral-sh/setup-uv@v7
      - name: Build storybook
        working-directory: ./packages/buckaroo-js-core
        run: |
          pnpm build-storybook
      # - name: Setup Python
      #   uses: actions/setup-python@v5
      #   with:
      #     python-version: '3.12'

      # - name: Install mamba
      #   uses: mamba-org/setup-micromamba@v1
      #   with:
      #     micromamba-version: '1.5.8-0'
      #     environment-file: docs/build-environment.yml
      #     cache-environment: true

      # - name: Build the JupyterLite site
      #   shell: bash -l {0}
      #   run: |
      #     cd docs
      #     jupyter lite build --contents ./example-notebooks --output-dir ./_output

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./packages/buckaroo-js-core/dist/storybook

  deploy:
    needs: build
    if: github.ref == 'refs/heads/main'
    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
